.property-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 0.5rem;

  margin: 0 auto;
}

@media screen and (min-width: 640px) {
  .property-list {
    max-width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .property-list {
    max-width: 1040px;
  }
}
