/* new workout form */

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-add {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label,
input {
  display: block;
}

input,
select {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

form button {
  background: orange;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: $border-radius;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}
